html {
    background-color:#e7eeed;
    color: #3b3d3f;
 
}
body{
    font-size: 1.125rem;
}
article{
    background-color:#F4F7F0;
}
.indented{
  

    @media screen and (min-width: 768px) {
        border-left: 50px solid #E7EEED;border-right: 50px solid #E7EEED;
    }
}
